body{
    background-color: white ;
}
h1{
    font-family: Georgia;
    color: #FFB780;
    padding-top: 25px;
    padding-left: 15px;
}
p{
    font-family: Arial;
    color: black;
}
#customerCart{
    position: relative;
}
#customerCart .Cart {
    position: absolute;
    top: 0px;
    right: 10px;

}
.Books {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    }

div .centerText{
    text-align: center;
}

a{
    font-size: 20px;
    font-weight: bold;
    color: lightblue;
}
ul{
    margin: 0;
    padding: 0;
}

header {
    font: 33px sans-serif;
    height: 125px;
    opacity: 100%;
    margin-top: -50px;
    margin-left: -10px;
    margin-right: -10px;
    background-color: darkgray;

}

body {
    font-family: Helvetica, Arial, sans-serif;
}
legend {
    font-weight: bold;
}
div.tableContainer {
    display: table;
    border-spacing: 5px;
}
div.tableRow {
    display: table-row;
}
div.tableRow label {
    display: table-cell;
    text-align: right;
}
div.tableRow input {
    display: table-cell;
}

